$color-black:        #000000;
$color-dark-gray:    #333333;
$color-gray:         #8A8A8A;
$color-white:        #FFFFFF;

$color-yellow:       #F7B500;
$color-red:          #FF3232;
$color-blue:         #00D2FF;
$color-green:        #2ECC71;